#bat_health
allow kernel mnt_user_file:dir search;
allow kernel mnt_user_file:lnk_file read;
allow kernel sdcardfs:dir { read write add_name search open };
allow kernel sdcardfs:file { read create open };
allow kernel storage_file:dir search;
allow kernel storage_file:lnk_file read;
allow kernel tmpfs:dir search;
